.tippy-popper .tippy-tooltip.light-theme[data-animatefill] {
  background-color: transparent;
  color: black;
}
.tippy-tooltip-content {
  background-color: transparent;
  color: black;
}
.tippy-tooltip [x-circle] {
  color: black;
  background-color: #f4c23c;
}
.tippy-popper {
  top: -15px !important;
}
